[khanacademy](https://www.khanacademy.org/math/ap-statistics/analyzing-categorical-ap/stats-two-way-tables/v/two-way-relative-frequency-tables?modal=1)

<div align="center"><img src="img/Screen Shot 2019-08-10 at 10.42.22 AM.png" width="100%" height="30%"></div>

In [2]:
import pandas as pd

data = {
    'SUV': 28*['yes'] + 35*['no'] + 97*['yes'] + 104*['no'],
    'Accident': 28*['yes'] + 35*['yes'] + 97*['no'] + 104*['no']
    }

df = pd.DataFrame(data)
df

     SUV Accident
0    yes      yes
1    yes      yes
2    yes      yes
3    yes      yes
4    yes      yes
..   ...      ...
259   no       no
260   no       no
261   no       no
262   no       no
263   no       no

[264 rows x 2 columns]

In [3]:
g = df.groupby(['SUV', 'Accident'])
g.size()

SUV  Accident
no   no          104
     yes          35
yes  no           97
     yes          28
dtype: int64

In [4]:
for i in range(4):
    print(g.size()[i])

104
35
97
28

In [5]:
g = pd.crosstab(df.SUV, df.Accident, rownames=['SUV'], colnames=['Accident'])
g

Accident   no  yes
SUV
no        104   35
yes        97   28